# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea

# virtualenv
.venv
venv/

*.pyc
*.db
*.pid

# django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py
